<ion-content>  
  <ion-split-pane when="sm" contentId="main-content">
    <ion-menu contentId="main-content" type="push">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-avatar>
              <img
                src="assets/icon/logo.svg" />
            </ion-avatar>Finpay            
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <div class="footer">
          <div class="cta">
            <img src="assets/icon/undraw_buyNow.svg" />
            <p> <strong>Congratulations!</strong> <br> You're eligble for Instant life Cover upto 2,00,000 without any
              medical test for documentation.</p>
            <ion-button expand="block" fill="outline" shape="round" color="dark">
              Buy Now
            </ion-button>
          </div>
          <div class="profile">
            <ion-item lines="none" detail="true">
              <ion-avatar slot="start" size="large">
                <img
                  src="https://images.unsplash.com/photo-1541855492-581f618f69a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njh8fG1hbGUlMjBwcm9maWxlJTIwcGljdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" />
              </ion-avatar>
              <ion-label>Aaron Bajaj<span class="degisnation">Freelancer</span></ion-label>
            </ion-item>
          </div>
        </div>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-content>