/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "../src/theme/custom.scss";

@import 'swiper/scss';
@import 'swiper/scss/autoplay';
@import 'swiper/scss/keyboard';
@import 'swiper/scss/pagination';
@import 'swiper/scss/scrollbar';
@import 'swiper/scss/zoom';
@import '@ionic/angular/css/ionic-swiper';

.page-wrapper {
    // position: relative;

    .main-wrapper {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        // background-color: #fff;
        justify-content: center;
        align-items: flex-start;
        font-size: 1vw;
        display: block;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        overflow: hidden;
        transform: rotateX(0)rotateY(180deg)rotate(0);

        .shapes-wrapper {
            filter: blur(120px);
        }

        // .shape-3-2 {
        //     width: 53em;
        //     height: 100em;
        //     background-color: #bedbfe;
        //     border-radius: 999em;
        //     position: absolute;
        //     top: -19.8em;
        //     left: -26em;
        //     right: 0;
        //     transform: rotate(-28deg);
        // }

        // .shape-2 {
        //     width: 43em;
        //     height: 40em;
        //     background-color: #f0f9ff;
        //     border-radius: 999em;
        //     margin-left: auto;
        //     margin-right: auto;
        //     position: absolute;
        //     top: -20em;
        //     left: -27.4em;
        //     right: 0;
        // }

        // .shape-1 {
        //     width: 40em;
        //     height: 40em;
        //     background-color: #a0bce0;
        //     border-radius: 999em;
        //     margin-left: auto;
        //     margin-right: auto;
        //     position: absolute;
        //     top: -24.7em;
        //     left: 0;
        //     right: 0;
        // }
    }

    .blending-group-wrapper {
        z-index: 1;
        filter: blur(300px);
        mix-blend-mode: overlay;

        .shape-8 {
            width: 47em;
            height: 119em;
            background-color: #fed6a9;
            border-radius: 999em;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            top: -17.1em;
            left: 26.7em;
            right: 0;
            transform: rotate(29deg);
        }

        .shape-9 {
            width: 30em;
            height: 119em;
            background-color: #1b1b1b;
            border-radius: 999em;
            position: absolute;
            top: -5.3em;
            right: 1.2em;
            transform: rotate(39deg);
        }

        .shape-4 {
            width: 70em;
            height: 40em;
            background-color: var(--ion-color-primary); // #8E7DFF
            margin-left: auto;
            position: fixed;
            top: 40em;
            left: -30em;
            bottom: -30em;
            transform: rotate(130deg);
            border-radius: 50%;
            // border-radius: 999em;
        }

        .shape-5 {
            width: 30em;
            height: 30em;
            background-color: #e7805b;
            border-radius: 999em;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            top: -21.7em;
            left: 0;
            right: 0;
        }

        .shape-7 {
            width: 20em;
            height: 13em;
            background-color: #fed6a9;
            border-radius: 999em;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            top: -4.1em;
            left: 0;
            right: -23.9em;
            transform: rotate(40deg);
        }

        .shape-6 {
            width: 70em;
            height: 45em;
            background-color: var(--ion-color-orange); // #FFAFA1
            border-radius: 999em;
            margin-left: auto;
            position: absolute;
            top: -30.2em;
            right: -40em;
            transform: rotate(140deg);
            border-radius: 50%;
        }
    }

    // .background-noise {
    //     z-index: 0;
    //     width: 100%;
    //     height: 100%;
    //     opacity: .3;
    //     /* background-image: url(https://assets.website-files.com/5fa298c…/642ebe2…_noise.png); */
    //     background-position: 0 0;
    //     background-size: auto;
    //     position: absolute;
    //     top: 0%;
    //     bottom: 0%;
    //     left: 0%;
    //     right: 0%;
    // }
}